.summary {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .summary h2 {
    margin-top: 0;
  }
  
  .summary p {
    margin-bottom: 0;
  }
  